@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #0474ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: #fff;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.container {
  max-width: 1200px;
  overflow: auto;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

.btn:hover {
  transform: scale(0.98);
}

.showcase {
  background: var(--primary-color);
  height: 400px;
  color: #fff;
  position: relative;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 40%;
  gap: 30px;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 100px;
  bottom: -50px;
  background: #fff;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  justify-self: flex-end;
  z-index: 100;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #333;
  width: 100%;
  padding: 3px;
  font-size: 18px;
}

.showcase-form input:focus {
  outline: none;
}
